@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");
#adaptive {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  #adaptive {
    min-width: 1440px;
    max-width: 1440px;
  }
}
@media (max-width: 1280px) {
  #adaptive {
    min-width: 1280px;
    max-width: 1280px;
  }
}
@media (max-width: 1080px) {
  #adaptive {
    min-width: 768px;
    max-width: 768px;
  }
}
@media (max-width: 520px) {
  #adaptive {
    max-width: 360px;
    min-width: 360px;
  }
}

* {
  transition: 0.2s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Wix Madefor Text", sans-serif;
  color: #132539;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  display: block;
  outline: none;
  border: none;
  background: none;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table {
  border-collapse: collapse;
}

button,
select {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img,
video {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

label {
  position: relative;
  display: block;
}

body {
  background: #F1F1F1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 120px auto;
}

.header {
  padding: 30px;
  padding-right: 150px;
}
@media (max-width: 1440px) {
  .header {
    padding-right: 30px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btns {
  display: flex;
  gap: 30px;
}
.header__btns_helpCenter {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #32AC70;
  background: #32AC70;
  gap: 4px;
}
.header__btns_helpCenter_pr {
  padding: 8px 16px;
  font-weight: 500;
  height: 100%;
  color: #fff;
}
.header__btns_helpCenter_link {
  width: 48px;
  height: 40px;
  padding: 6px;
  border-radius: 3px;
}
.header__btns_helpCenter_link:hover {
  background: #098E4D;
}
.header__btns_helpCenter_link:active {
  border-color: #8CCAAB;
  background: #0B8248;
}
.header__btns_helpCenter_link_icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__controls_not_btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  position: relative;
}
.header__controls_not_btn_icon {
  width: 40px;
  height: 40px;
}
.header__controls_not_btn_much {
  display: block;
  padding: 4px;
  background: #32AC70;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  color: #fff;
  font-weight: 500;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 1;
}
.header__controls_user {
  width: 60px;
  height: 60px;
}
.header__controls_user_btn {
  width: 100%;
  height: 100%;
}
.header__controls_user_btn_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navbar {
  background: #132539;
  height: 100%;
  padding: 60px 30px;
  grid-row: 1/3;
}
@media (max-width: 1440px) {
  .navbar {
    padding: 40px 15px;
  }
}
.navbar__logo {
  padding-bottom: 80px;
  border-bottom: 1px solid #2E3354;
}
.navbar__logo_img {
  width: 100%;
}
.navbar__menu {
  display: grid;
  grid-gap: 12px;
  margin: 30px 0;
}
.navbar__menu_link {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 6px;
}
.navbar__menu_link:hover, .navbar__menu_link.active {
  background: #2E3354;
}
.navbar__menu_link_txt {
  color: #fff;
  font-size: 24px;
}
@media (max-width: 1440px) {
  .navbar__menu_link_txt {
    font-size: 20px;
  }
}
.navbar__menu_link_icon {
  width: 40px;
  height: 40px;
}
@media (max-width: 1440px) {
  .navbar__menu_link_icon {
    width: 30px;
    height: 30px;
  }
}

.textBtn, .outlineBtn, .secondaryBtn, .primaryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-style: solid;
  border-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
}

.primaryBtn {
  background: #32AC70;
  color: #fff;
  border-width: 2px;
  cursor: pointer;
}
.primaryBtn * {
  color: #fff;
}
.primaryBtn:hover {
  background: #098E4D;
}
.primaryBtn:active {
  border-color: #8CCAAB;
  background: #0B8248;
}
.primaryBtn.disabled, .primaryBtn.disabled:active, .primaryBtn.disabled:hover {
  background: #D4D5E2;
  cursor: not-allowed !important;
}
.primaryBtn__icon {
  width: 16px;
  height: 16px;
}

.secondaryBtn {
  background: transparent;
  color: #32AC70;
  border-color: #32AC70;
  border-width: 1px;
}
.secondaryBtn:hover {
  color: #098E4D;
  border-color: #098E4D;
}
.secondaryBtn:active {
  border-width: 2px;
  border-color: #0B8248;
  color: #0B8248;
}
.secondaryBtn.disabled, .secondaryBtn.disabled:active, .secondaryBtn.disabled:hover {
  background: #f5f5f5;
  border-color: #D4D5E2;
  border-width: 1px;
  color: #D4D5E2;
  cursor: not-allowed !important;
}
.secondaryBtn__icon {
  width: 16px;
  height: 16px;
}

.outlineBtn {
  background: #F5FAF8;
  border-color: #77BE9D;
  border-width: 1px;
  color: #32AC70;
}
.outlineBtn:hover {
  border-color: #098E4D;
  color: #32AC70;
  background: #EAF5F1;
}
.outlineBtn:active {
  border-color: #0B8248;
  border-width: 2px;
  color: #0B8248;
  background: #F5FAF8;
}
.outlineBtn.disabled, .outlineBtn.disabled:active, .outlineBtn.disabled:hover {
  background: #f5f5f5;
  border-color: #D4D5E2;
  border-width: 1px;
  color: #D4D5E2;
  cursor: not-allowed !important;
}
.outlineBtn__icon {
  width: 16px;
  height: 16px;
}

.textBtn {
  color: #32AC70;
  border-width: 2px;
}
.textBtn:hover {
  color: #0D8048;
}
.textBtn:active {
  color: #32AC70;
  border-color: #F5FAF8;
}
.textBtn.disabled, .textBtn.disabled:active, .textBtn.disabled:hover {
  color: #D4D5E2;
  cursor: not-allowed !important;
}
.textBtn__icon {
  width: 16px;
  height: 16px;
}

.dropdown,
.accordion {
  position: relative;
  width: 100%;
  border-width: 1px;
  border-color: #9397B6;
  border-style: solid;
  border-radius: 6px;
}
.dropdown__btn,
.accordion__btn {
  display: flex;
  justify-content: space-between;
}
.dropdown__wrapper,
.accordion__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  border-width: 1px;
  border-color: #9397B6;
  border-style: solid;
  border-radius: 6px;
  background: #fff;
  z-index: 1040;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.dropdown__wrapper.active,
.accordion__wrapper.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.dropdown__option, .dropdown__btn,
.accordion__option,
.accordion__btn {
  width: 100%;
  padding: 12px 16px;
  transition: 0.2s;
}
.dropdown__option:hover, .dropdown__btn:hover,
.accordion__option:hover,
.accordion__btn:hover {
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.1254901961);
}
.dropdown.disabled,
.accordion.disabled {
  opacity: 0.5;
}
.dropdown.disabled .dropdown__btn,
.dropdown.disabled .accordion__btn,
.accordion.disabled .dropdown__btn,
.accordion.disabled .accordion__btn {
  cursor: not-allowed !important;
}

.accordion__wrapper {
  visibility: visible;
  opacity: 1;
  max-height: 0px;
  overflow: hidden;
  position: static;
  border: none;
  transition: 0.3s;
  width: 100%;
  max-width: 100%;
}
.accordion__wrapper_content {
  width: 100%;
  padding: 0 12px 12px;
}
.accordion__wrapper table {
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0 12px;
  width: 100%;
}
.accordion__wrapper table * {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
.accordion__wrapper table a {
  color: #326fb6;
}
.accordion__wrapper table a:hover {
  color: #098E4D;
}

.fieldDefault {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-width: 1px;
  border-color: #9397B6;
  border-style: solid;
  border-radius: 6px;
}
.fieldDefault__title {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 14px;
  left: 12px;
  background: #fff;
  padding: 0 4px;
  gap: 4px;
  color: #9397B6;
  z-index: 1010;
}
.fieldDefault__title_required {
  color: #DA1414;
}
.fieldDefault__title.active {
  top: -10px;
  left: 12px;
  z-index: 1030;
}
.fieldDefault__status {
  position: absolute;
  bottom: -24px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.fieldDefault__status_icon {
  display: none;
  width: 12px;
  height: 12px;
}
.fieldDefault__status_icon.valid {
  display: block;
}
.fieldDefault__status_icon.invalid {
  display: block;
}
.fieldDefault__status_txt {
  font-size: 14px;
}
.fieldDefault__status_txt.valid {
  color: #098E4D;
}
.fieldDefault__status_txt.invalid {
  color: #FD383A;
}
.fieldDefault__inp {
  width: 100%;
  padding: 14px 56px 14px 16px;
  font-size: 16px;
  color: #132539;
  position: relative;
  border-radius: 6px;
  z-index: 1020;
  min-height: 48px;
}
.fieldDefault__inp::-moz-placeholder {
  color: #A0A8AC;
}
.fieldDefault__inp::placeholder {
  color: #A0A8AC;
}
.fieldDefault__inp.valid {
  border-color: #098E4D;
}
.fieldDefault__inp.invalid {
  border-color: #FD383A;
}
.fieldDefault__tooltip {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 1030;
  cursor: pointer;
}
.fieldDefault__tooltip_icon {
  width: 25px;
  height: 25px;
}
.fieldDefault__tooltip_content {
  background: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  z-index: 1020;
  width: 100vw;
  max-width: 320px;
  position: absolute;
  bottom: 32px;
  left: -22px;
  box-shadow: 0px 0px 10px 1px rgba(19, 37, 57, 0.3137254902);
  visibility: hidden;
  opacity: 0;
}
.fieldDefault__tooltip:hover .fieldDefault__tooltip_content {
  visibility: visible;
  opacity: 1;
}

.phone {
  display: flex;
  position: relative;
}
.phone__select {
  width: 100%;
  max-width: 30%;
  position: relative;
}
.phone__select::before {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #9397B6;
  position: absolute;
  top: 10%;
  right: 0;
}
.phone__select_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  padding: 6px 12px 6px 6px;
  width: 100%;
  height: 100%;
}
.phone__select_btn_txt {
  display: flex;
  align-items: center;
}
.phone__select_btn_flag {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.phone__select_btn_arrow {
  height: 16px;
  width: 16px;
}
.phone__select_dropdown {
  position: absolute;
  width: 100%;
  border-width: 1px;
  border-color: #9397B6;
  border-style: solid;
  border-radius: 6px;
  background: #fff;
  top: 100%;
  overflow-y: auto;
  max-height: 200px;
  visibility: hidden;
  opacity: 0;
}
.phone__select_dropdown::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  background: #9397B6;
}
.phone__select_dropdown::-webkit-scrollbar-button {
  width: 2px;
  border-radius: 2px;
  background: #132539;
}
.phone__select_dropdown.active {
  visibility: visible;
  opacity: 1;
}
.phone__select_dropdown_btn {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 12px;
  width: 100%;
}
.phone__select_dropdown_btn:hover {
  background: #8CCAAB;
}
.phone__select_dropdown_btn_txt {
  display: flex;
  align-items: center;
}
.phone__select_dropdown_btn_flag {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.phone__select_dropdown_scrolled {
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.phone__wrapper {
  width: 100%;
  max-width: 70%;
}
.phone__wrapper .fieldDefault__title {
  left: calc(30% + 12px);
}
.phone__wrapper .fieldDefault__title.active {
  left: 12px;
}

.radio__title {
  display: flex;
  align-items: flex-start;
  background: #fff;
  padding: 0 16px;
  gap: 4px;
  color: #9397B6;
  margin-bottom: 5px;
  position: static;
}
.radio__title_required {
  color: #DA1414;
}
.radio__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.radio__label {
  display: flex;
  align-items: center;
  gap: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #9397B6;
  border-radius: 6px;
  padding: 14px 16px;
  cursor: pointer;
}
.radio__label_inp {
  display: none;
}
.radio__label_check {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #9397B6;
  border-radius: 2px;
  position: relative;
}
.radio__label_check_cheched {
  position: absolute;
  top: 0;
  left: 0;
}
.radio__label_inp:checked + .radio__label_check {
  background: #32AC70;
  border-color: #32AC70;
}
.radio__label_inp:active + .radio__label_check {
  border-color: #77BE9D;
}

.password__showHide {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 1030;
  width: 25px;
  height: 25px;
}

.policyField {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}
.policyField__txt {
  font-size: 14px;
}
.policyField__txt_link {
  display: inline;
  text-decoration: underline;
  font-size: 14px;
}
.policyField__txt_link:hover {
  color: #098E4D;
}
.policyField__inp {
  display: none;
}
.policyField__check {
  display: block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #9397B6;
  border-radius: 2px;
  position: relative;
}
.policyField__check_checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.policyField__inp:checked + .policyField__check {
  background: #32AC70;
  border-color: #32AC70;
}
.policyField__inp:active + .policyField__check {
  border-color: #77BE9D;
}

.addFile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 20px;
}
.addFile .inputFile {
  display: none;
}
.addFile__inner {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 10px;
  border-radius: 6px;
  background: #F1F1F1;
}
.addFile__inner_txt {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
.addFile__inner_btn {
  margin-left: auto;
  padding-left: 8px;
}
.addFile__inner_btn_icon {
  width: 20px;
  height: 20px;
}
.addFile__header {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-row: 1/2;
  grid-column: 1/3;
}
.addFile__header_title {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  color: #9397B6;
}
.addFile__header_title_required {
  color: #DA1414;
}
.addFile__header_tooltip {
  position: relative;
  cursor: pointer;
}
.addFile__header_tooltip_icon {
  width: 25px;
  height: 25px;
}
.addFile__header_tooltip_content {
  background: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  z-index: 1020;
  width: 100vw;
  max-width: 320px;
  position: absolute;
  bottom: 32px;
  left: -22px;
  box-shadow: 0px 0px 10px 1px rgba(19, 37, 57, 0.3137254902);
  visibility: hidden;
  opacity: 0;
}
.addFile__header_tooltip:hover .addFile__header_tooltip_content {
  visibility: visible;
  opacity: 1;
}

.secondary {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  font-family: "Wix Madefor Display", sans-serif;
}

body {
  background: #132539;
}

.registration,
.recover,
.login,
.forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
}
.registration__wrapper,
.recover__wrapper,
.login__wrapper,
.forgot__wrapper {
  width: 100%;
  max-width: 520px;
  background: #fff;
  padding: 50px;
}
.registration__logo,
.recover__logo,
.login__logo,
.forgot__logo {
  margin-bottom: 35px;
  color: transparent;
  font-size: 0px;
  max-width: 300px;
}
.registration__title,
.recover__title,
.login__title,
.forgot__title {
  margin-bottom: 25px;
}
.registration__container,
.recover__container,
.login__container,
.forgot__container {
  display: grid;
  grid-gap: 25px;
}
.registration__btn,
.recover__btn,
.login__btn,
.forgot__btn {
  width: 100%;
}
.registration__pr,
.recover__pr,
.login__pr,
.forgot__pr {
  margin-bottom: 20px;
}
.registration__footer,
.recover__footer,
.login__footer,
.forgot__footer {
  display: grid;
  gap: 15px;
}
.registration__footer_pr,
.recover__footer_pr,
.login__footer_pr,
.forgot__footer_pr {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.registration__footer_pr_link,
.recover__footer_pr_link,
.login__footer_pr_link,
.forgot__footer_pr_link {
  color: #32AC70;
  font-weight: 600;
}
.registration__btns,
.recover__btns,
.login__btns,
.forgot__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registration__btns_link,
.recover__btns_link,
.login__btns_link,
.forgot__btns_link {
  color: #32AC70;
  font-weight: 600;
}
.registration__btns_label,
.recover__btns_label,
.login__btns_label,
.forgot__btns_label {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  cursor: pointer;
}
.registration__btns_label_inp,
.recover__btns_label_inp,
.login__btns_label_inp,
.forgot__btns_label_inp {
  display: none;
}
.registration__btns_label_check,
.recover__btns_label_check,
.login__btns_label_check,
.forgot__btns_label_check {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #9397B6;
  border-radius: 2px;
  position: relative;
}
.registration__btns_label_check_cheched,
.recover__btns_label_check_cheched,
.login__btns_label_check_cheched,
.forgot__btns_label_check_cheched {
  position: absolute;
  top: 0;
  left: 0;
}
.registration__btns_label_inp:checked + .registration__btns_label_check,
.registration__btns_label_inp:checked + .recover__btns_label_check,
.registration__btns_label_inp:checked + .login__btns_label_check,
.registration__btns_label_inp:checked + .forgot__btns_label_check,
.recover__btns_label_inp:checked + .registration__btns_label_check,
.recover__btns_label_inp:checked + .recover__btns_label_check,
.recover__btns_label_inp:checked + .login__btns_label_check,
.recover__btns_label_inp:checked + .forgot__btns_label_check,
.login__btns_label_inp:checked + .registration__btns_label_check,
.login__btns_label_inp:checked + .recover__btns_label_check,
.login__btns_label_inp:checked + .login__btns_label_check,
.login__btns_label_inp:checked + .forgot__btns_label_check,
.forgot__btns_label_inp:checked + .registration__btns_label_check,
.forgot__btns_label_inp:checked + .recover__btns_label_check,
.forgot__btns_label_inp:checked + .login__btns_label_check,
.forgot__btns_label_inp:checked + .forgot__btns_label_check {
  background: #32AC70;
  border-color: #32AC70;
}
.registration__btns_label_inp:active + .registration__btns_label_check,
.registration__btns_label_inp:active + .recover__btns_label_check,
.registration__btns_label_inp:active + .login__btns_label_check,
.registration__btns_label_inp:active + .forgot__btns_label_check,
.recover__btns_label_inp:active + .registration__btns_label_check,
.recover__btns_label_inp:active + .recover__btns_label_check,
.recover__btns_label_inp:active + .login__btns_label_check,
.recover__btns_label_inp:active + .forgot__btns_label_check,
.login__btns_label_inp:active + .registration__btns_label_check,
.login__btns_label_inp:active + .recover__btns_label_check,
.login__btns_label_inp:active + .login__btns_label_check,
.login__btns_label_inp:active + .forgot__btns_label_check,
.forgot__btns_label_inp:active + .registration__btns_label_check,
.forgot__btns_label_inp:active + .recover__btns_label_check,
.forgot__btns_label_inp:active + .login__btns_label_check,
.forgot__btns_label_inp:active + .forgot__btns_label_check {
  border-color: #77BE9D;
}/*# sourceMappingURL=signForms.css.map */